﻿@model vsacadef6.Models.Alumno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Curso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AlumnoCurso ac in Model.AlumnosCursos)
        {
            <tr>
                <td>
                    @ac.Curso.Nombre
                </td>
                <td>
                    |
                    <a href=@("/Alumnos/DeleteCurso?idCurso="+ac.CursoId+"&idAlumno="+Model.AlumnoId)>Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>



<form asp-action="NuevoCurso">
    <input type="hidden" name="alumnoId" value="@Model.AlumnoId" />
    <div class="form-group">
        <label for="xx" class="control-label">Curs</label>

        <select id="xx" name="cursoid">
            @foreach (var item in (IEnumerable<Curso>)ViewData["ModelCursos"])
            {
                <option value="@item.CursoId">@item.Nombre</option>
            }
        </select>

    </div>
    <input type="submit" value="Afegir curs" class="btn btn-primary" />

</form>


    <div>
        <a asp-action="Edit" asp-route-id="@Model.AlumnoId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
